<h1>About</h1>

<article>
  <p>Ajax the great was a Greek mythological hero, the son of King Telamon and Periboea, and the half-brother of Teucer.
    He plays an important role, and is portrayed as a towering figure and a warrior of great courage in Homer's Iliad
    and in the Epic Cycle, a series of epic poems about the Trojan War.
  </p>
  <h3>Family</h3>
  <p>
    Ajax is the son of Telamon, who was the son of Aeacus and grandson of Zeus, and his first wife Periboea. He is the
    cousin of Achilles, and is the elder half-brother of Teucer. His given name is derived from the root of αἰάζω "to
    lament", translating to "one who laments; mourner". Hesiod, however includes a story in the The Great Eoiae that
    indicates Aias received his name when Heracles prayed to Zeus that a son might be born to Telemon and Eriboea. Zeus
    sent an eagle (aietos - αετός) as a sign. Heracles then bade the parents call their son Aias after the eagle. Many
    illustrious Athenians, including Cimon, Miltiades, Alcibiades and the historian Thucydides, traced their descent
    from Ajax. On an Etruscan tomb dedicated to Racvi Satlnei in Bologna (5th century BC) there is an inscription that
    says, aivastelmunsl which means "[family] of Telamonian Ajax".
  </p>
</article>