<div>
  <h1>Home Page</h1>
  <article>
    <p>Today, Ajax is known by most people as a football club. <br>
      In ancient Greece, Ajax was a hero who played a big role in the Trojan War.</p>
  </article>
</div>